{% extends "base.html" %}
{% block content %}
<h2>Apresentação</h2>
<p>O Instituto Federal de Educação, Ciência e Tecnologia do Acre (Ifac) é uma
    instituição de ensino técnico e superior com campi em cinco municípios:
    Cruzeiro do Sul, Rio Branco, Sena Madureira, Tarauacá e Xapuri. Atualmente,
    oferta seis cursos de licenciaturas, nomeadamente em Ciências Biológicas (1),
    Física (2), Matemática (2) e Química (1). Segundo a Resolução no 149, de 12
    de julho de 2013 que regulamenta os estágios dos cursos de Educação
    Profissional Técnica de Nível Médio e do Ensino Superior do Ifac, o estágio
    curricular supervisionado é uma disciplina obrigatória nos cursos de
    Licenciatura. Essa atividade busca interligar o estagiário à sua futura
    área de trabalho, fazendo com que ele possa utilizar na prática os
    conhecimentos teóricos adquiridos em sala de aula. Cada curso conta com
    fluxo específico para estágio, regulado pelo Projeto Pedagógico de Curso (PPC),
    em conformidade com a Organização Didático-Pedagógica (ODP). Para tanto
    alguns passos devem ser seguidos no decorrer do estágio, que envolvem documentos
    que circulam em diferentes setores da instituição. Observa-se que o Ifac
    não tem um sistema para controle de Estágio nos cursos de licenciatura em
    todos os campuses. O armazenamento das informações é realizado
    utilizando-se fichas de cadastro, o que pode ocasionar a perda dos
    dados ou insegurança na manipulação dos registros. Ao desenvolver um
    sistema através das tecnologias Web para controlar as informações do
    estágio supervisionado, acredita-se que se simplificará o fluxo de registro
    das atividades dos estagiários, uma vez que simplificará a consulta de dados
    em uma plataforma unificada. Assim, este trabalho apresenta o desenvolvimento
    de um sistema Web, para controlar o histórico dos estágios obrigatórios dos
    cursos de licenciatura do Ifac.

<h2>Justificativa</h2>
<p>A pesquisa busca otimizar e aprimorar o registro e acompanhamento dos
    estágios de estudantes de licenciatura. Julga-se que o tema é relevante
    porque a formação de qualidade é uma prioridade para as instituições de
    educação, uma vez que os profissionais formados como docentes serão responsáveis
    por conduzir o ensino de outros profissionais, em um ciclo contínuo que afeta
    diretamente a população como um todo. Assim todas as informações devem estar
    conectadas para que não ocorra erros que possam prejudicar as instituições
    envolvidas, tão pouco o aluno estagiário.</p>

<h2>Estágio Curricular Supervisionado nas Licenciaturas</h2>
<p>O Estágio Curricular Supervisionado no Ifac está fundamentado
        na Lei nº. 11.788, de 25/09/2008, e no regulamento de estágio do Ifac,
        Resolução n° 149, de 12 de julho de 2013 e é parte integrante do currículo do curso
        superior, que consta de atividades de práticas profissionais, exercidas em situações
        reais de trabalho, e faz parte do projeto pedagógico do curso, além de integrar o itinerário
        formativo do educando, visando ao aprendizado de competências próprias da atividade profissional
        e à contextualização curricular, objetivando o desenvolvimento do educando para a vida cidadã e
        para o mundo do trabalho. O Ifac mantém convênios de concessão de estágio com
        instituições públicas e/ou privadas de ensino que possibilitem a seus discentes
        o exercício da prática de estágio. Para cada estudante é obrigatória a integralização da carga
        horária total do estágio de 400 horas, prevista no currículo do curso, bem como a sua aprovação.
        O PPC de Matemática, por exemplo, está organizado para ocorrer em 4 semestres, iniciando do 4º semestre,
        com o Estágio Supervisionado I e sendo concluído no 8º, totalizando carga horária de 400 horas.
        </p>
{% endblock content %}