{% extends "base.html" %}
{% block content %}
    <h2>Objetivo</h2>
    <p>Otimizar e aprimorar o registro e acompanhamento
        dos estágios de estudantes dos cursos de
        Licenciatura em Ciências Biológicas e Matemática do Ifac Campus Rio Branco</p>

    <h2>Público-alvo do Sistema de Estágio</h2>
    <ul>
        <li>Alunos estagiários</li>
        <li>Supervisores de estágio</li>
        <li>Coordenadores de curso</li>
    </ul>

    <h2>Funcionalidades</h2>
    <ul>
        <li>Cadastrar usuários</li>
        <li>Cadastrar escolas</li>
        <li>Cadastrar estágios com documentos anexados:</li>
        <ul>
            <li>Caracterização da escola</li>
            <li>Cronograma de atividade na escola</li>
            <li>Encaminhamento de estágio curricular</li>
            <li>Plano de ensino de estágio</li>
            <li>Ficha de controle de estágio</li>
            <li>Relatório de estágio</li>
            <li>Avaliação de estágio</li>
        </ul>
    </ul>
{% endblock content %}