{% extends "base.html" %}
{% block content %}
    <h2>Justificativa</h2>
    <p>A pesquisa busca otimizar e aprimorar o registro e acompanhamento dos
        estágios de estudantes de licenciatura. Julga-se que o tema é relevante
        porque a formação de qualidade é uma prioridade para as instituições de
        educação, uma vez que os profissionais formados como docentes serão responsáveis
        por conduzir o ensino de outros profissionais, em um ciclo contínuo que afeta
        diretamente a população como um todo. Assim todas as informações devem estar
        conectadas para que não ocorra erros que possam prejudicar as instituições
        envolvidas, tão pouco o aluno estagiário.</p>
{% endblock content %}